.logsmainGrid {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 0.2fr 1fr ;
    grid-template-rows: 0.55fr 2fr;
    grid-template-areas:
        "logs-nav logs-categories logs-categories"
        "logs-nav logs-card logs-card ";
    gap: 1em;
}
.backIcon{
    display: none;
}


.MapCards{
    display: block;
    grid-area: logs-card;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
}



   /* hiding scroll bar */
   .MapCards::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}
    .MapCards{
        scrollbar-width:none;
        -ms-overflow-style: none;

    }

.logsnavContainer{
    display: flex;
    grid-area: logs-nav;
    justify-content: center;
    align-items: center;
    width: 10vw;

}

.logsnavCont{
    display: grid;
    width: 5vw;
    height: 40vh;
    overflow: hidden;

}

.logscategorieswrap{
    grid-area: logs-categories;
    display: flex;
    flex-direction: column;
    width: 85vw;

}

.categoriesContainer{
display: flex;
flex-direction: column;
align-items: center ;

}
.logstopwrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height:5em;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
}
.searchBarCon {
    display: flex;
    align-items: center;
    background: #fefeff;
    width: 20vw;
    height: 5vh;
    justify-content: center;
    border-radius: 0.8em;
    box-shadow: 0px 5px 4px rgb(0 0 0 / 25%);
}

.logsbuttons{

    height: 5vh;
    overflow: visible;
}
.searchBarCon>input{
    display: flex;
    align-items: flex-end;
    height: 1em;
    width: 17vw;
    border-color: white;
    border-radius: 10px;
    border-style: hidden;
    flex: none;
    order: 0;
    flex-grow: 0;
    outline: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 13.5px;
    color: #6f6f6f;

     
}
.searchIcon{
  
    height: 1.5em;
    width: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actLogContainer{
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5em;
    padding-bottom: 1em;
    width: 70vw;

}
.logswrapper{
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media all and (max-width: 960px) {
    .logsnavContainer{
        flex-direction: row;
        height: fit-content;
    }
    .logsmainGrid{
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-columns:1fr;
        grid-template-rows:0.11fr 1fr 0.1fr;
        grid-template-areas: 
        "logs-categories"
        "logs-card"
        "logs-nav";
        gap: 1em;
        overflow:-moz-hidden-unscrollable;
          
    }
    .logscategorieswrap{
        background-color: #F0F0F9;
        height: fit-content;
        width: 100vw;
        position: fixed;
        padding-bottom: 2.5vh;
        
    }
    .logsnavContainer{
        display: flex;
        flex-direction: column;
    
    }

    .logstopwrapper{
        overflow: scroll;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100%;
        justify-content: center;
    }
    .mobilesearchIcon{
  
        height: 1.5em;
        width: 1.5em;
        
    }
    .backIcon{
        height: 1.3em;
        width: 1.3em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .searchBarCon{
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        gap: 8px;
        background: #fefeff;
        width:22.5em;
        height: 3.2em;
        border-radius:0.8em;
        box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);   
        position: fixed;
    }

    .searchBarCon>input{
        outline: 0;
        display: flex;
        align-items:center;
        height:3.2em;
        width: 20.5em;
        border-color: white;
        border-radius: 10px;
        border-style: hidden;
        flex: none;
        order: 0;
        flex-grow: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 13.5px;
        color: #6f6f6f;

    }
    
    .actLogContainer{
    
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1em;
        width: 85vw;
        
    }

}
@media all and (max-width: 480px) {
     .MapCards{
        padding-top: 14vw;
        padding-bottom: 0%;
    }
    .logswrapper{
        width: 60vw;
    }
    .actLogContainer{
        height: 12vh;

    }
 }
 
 
/* reports button for Mobile View to Tablet */
@media all and (min-width: 481px) and (max-width: 768px) {
     .MapCards{
       
        padding-top: 4.5em;
    }
    .logswrapper{
        width: 45vw;
    }
    .actLogContainer{
        height: 12vh;

    }


}
 
 
/* reports button Tablet View */
@media all and (min-width: 769px) and (max-width: 960px) { 
    .MapCards{
        padding-top: 5em;
    }
  
    .logswrapper{
        width: 45vw;
       
    }
    .actLogContainer{
        height: 13vh;
    }
 
}
@media all and (max-width: 960px) {
    
}


